.git
.github
.gitattributes
.gitignore
.pre-commit-config.yaml
doc
.ipynb_checkpoints
cmake-build-*/
build
*.db
*.ipynb
Dockerfile
tools
dist
.idea
.python-version
*~
.Trash-*
.mypy_cache
.nox
.pytest_cache
.coverage
.venv
__pycache__
*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.exe
*.o
*.a
*.lib
*.slo
*.lo
*.la
